<template>
    <div class="container">
      
    <h3>Belvo Users</h3>
    <b-modal ref="details-modal" hide-footer title="In-Depth Information">
      <div class="d-block text-center w-auto">
        <!-- <User :users="users" :selectedUser="selectedUser"/> -->
      </div>
      <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Export as CSV</b-button>
    </b-modal>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Company</th>
          <th scope="col">Monthly Income</th>
          <th scope="col">Linked</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(owner,index) in owners" v-bind:key="owner.id"> 
          <th scope="row">{{owner.id}}</th>
          <td>{{owner.display_name}}</td>
          <td>{{owner.email}}</td>
          <td>{{owner.email}}</td>
          <td>$1234.99</td>
          <td>
            <i id="show-btn" @click="selectUser(owner, index);" class="fas fa-check"></i>
          </td>  
        </tr>
      </tbody>
    </table>
    <b-button type="primary" :fluid="false" text="Send request" @clicked="retrieveOwners()" />
  </div> 
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
  name: 'Requests',
  props: {
    linkId: String,

  },
  components: {
    // Users
  },
  data() {
    return {
      accounts: null,
      transactions: null,
      balances: null,
      owners: null,
      incomes: null,
      owner:'',
      selectedUser: null,
    }
  },
  methods: {
    retrieveAccounts() {
      axios.post('http://127.0.0.1:5000/accounts', {link_id: this.linkId})
          .then((response) => {
            this.accounts = response.data;
          })
    },
    retrieveTransactions() {
      axios.post('http://127.0.0.1:5000/transactions', {link_id: this.linkId})
          .then((response) => {
            this.transactions = response.data;
          })
    },
    retrieveBalances() {
      axios.post('http://127.0.0.1:5000/balances', {link_id: this.linkId})
          .then((response) => {
            this.balances = response.data;
          })
    },
    retrieveOwners() {
      axios.post('http://127.0.0.1:5000/owners', {link_id: this.linkId})
          .then((response) => {
            this.owners = response.data;
          })
    },
    retrieveIncomes() {
      axios.post('http://127.0.0.1:5000/incomes', {link_id: this.linkId})
          .then((response) => {
            this.incomes = response.data;
          })
    },
    formatDate(date) {
      return moment(date).format('DD-MM-YYYY')
    },
    selectUser(user, index) {
        this.selectedUser = index;
        this.user = user.id;
      },
  }
}
</script>
<style lang="scss" scoped>
  .title {
    position: relative;
    z-index: 2;
    width: 90px;
    text-transform: uppercase;
    font-size: .90rem;
    font-weight: 600;
    line-height: 24px;
    font-family: Noto Sans TC;
    margin: 0;
  }
  .data {
    margin: 0;
    font-family: Noto Sans TC;
  }
  .widget-list {
    &__header {
      border-bottom: 1px solid #f0f2f4;

      &-table {
        color: grey;
        &-event {
          padding-right: 95px;
        }

        &-callback {
          padding-right: 361px;
        }

        &-status {

        }
      }
    }
  }
  .list-item {
    border-bottom: .0625rem solid #f0f2f4;
    .list-item-action {
      display:  flex;
      justify-content: flex-end;
    }
  }
  .request-type {
    padding: 5px 15px;
    background: #ebebeb;
    color: #ffffff;

    &.post {
      background: rgb(36, 143, 178);
    }
  }
  .request-content {
    min-width: 550px;
  }
  .request-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 200px;
  }
  .response-header {
    color: #c4cdd4;
  }
</style>