<template>
  <div>
    <div class="row pb-xl">
      <div class="col">
        <div class="text-regular-20 pb-m">
          Linked succesfully.
        </div>
        <div class="divider" />
      </div>
    </div>
    <div class="row mb-xl">
      <div class="col-6">
        <p class="title">LINK ID</p>
        <p class="data">{{this.linkId}}</p>
      </div>
    </div>
    <card class="widget-list">
      <div slot="content">
        <div class="widget-list__header px-l py-l">
          <div class="row flex-middle">
            <div class="col">
              <div class="text-medium-16">
                ENDPOINTS
              </div>
            </div>
          </div>
        </div>
        <div class="widget-list__content px-l">
          
          
          <!-- Accounts Item -->
          <div class="text-regular-14">
                      Retrieve the information from all the Accounts inside the Link.
          </div>
          <b-button class="btn-primary" type="primary" :fluid="false" text="Accounts" @clicked="retrieveAccounts()" />
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Account Name</th>
                <th scope="col">Account Number</th>
                <th scope="col">Account Balance</th>
                <th scope="col">Linked</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(account,index) in this.accounts" v-bind:key="account.id"> 
                <th scope="row">{{account.name}}</th>
                <td>{{account.number}}</td>
                <td>${{account.balance.current}}</td>
                <td>
                  <i id="show-btn" @click="selectUser(account, index);" class="fas fa-check"></i>
                </td>  
              </tr>
            </tbody>
          </table>
          
        <!-- Transactions -->
        <div class="text-regular-14">
            Retrieve the transactions from the last 30 days from each one of the Accounts inside the Link already created.
        </div>
        <b-button class="btn-primary" type="primary" :fluid="false" text="Transactions" @clicked="retrieveTransactions()" />
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="transaction in this.transactions" v-bind:key="transaction.id"> 
                <th scope="row">{{transaction.description}}</th>
                <td>{{transaction.amount}}</td>
                <td>{{ formatDate(transaction.value_date) }}</td>

              </tr>
            </tbody>
          </table>
        <!-- Balances -->
        <div class="text-regular-14">
          Daily balance of all the Accounts from connected for the last 30 days.
        </div>
        <b-button class="btn-primary" type="primary" :fluid="false" text="Balances" @clicked="retrieveBalances()" />
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Balance</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="balance in this.balances" v-bind:key="balance.id"> 
                <th scope="row">{{balance.account.name}}</th>
                <td>{{balance.current_balance}}</td>
                <td>{{ formatDate(balance.value_date) }}</td>

              </tr>
            </tbody>
          </table>
<!-- Table for Owners Data, has to be activated at button press -->
          <div class="text-regular-14">
                      Retrieve the personal information of the owner of the Link.
          </div>
          <b-button class="btn-primary" type="primary" :fluid="false" text="Owners" @clicked="retrieveOwners()" />
          <table class="table">
            <thead>
              <tr>
                <th scope="col">User ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Linked</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(owner,index) in owners" v-bind:key="owner.id"> 
                <th scope="row">{{owner.id}}</th>
                <td>{{owner.display_name}}</td>
                <td>{{owner.email}}</td>
                <td>{{owner.phone_number}}</td>
                <td>
                  <i id="show-btn" @click="selectUser(owner, index);" class="fas fa-check"></i>
                </td>  
              </tr>
            </tbody>
          </table>
        <!-- Incomes -->
        <div class="text-regular-14">
          Information Related to User's Income
        </div>
        <b-button class="btn-primary" type="primary" :fluid="false" text="Incomes" @clicked="retrieveIncomes()" />
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Account Number</th>
                <th scope="col">Income</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="income in this.incomes" v-bind:key="income.id"> 
                <th scope="row">{{income.account.name}}</th>
                <td>{{income.account.number}}</td>
                <td>{{income.sources[0].transactions[0]['amount']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </card>
  </div>
</template>
<script>
import axios from "axios";
import moment from "moment";
// import Users from "./Users";
// import BelvoUsers from "./BelvoUsers";

export default {
  name: 'Requests',
  props: {
    linkId: String
  },
  components: {
  },
  data() {
    return {
      accounts: null,
      transactions: null,
      balances: null,
      owners: [],
      incomes: null
    }
  },
  methods: {
    retrieveAccounts() {
      axios.post('http://127.0.0.1:5000/accounts', {link_id: this.linkId})
          .then((response) => {
            this.accounts = response.data;
          })
    },
    retrieveTransactions() {
      axios.post('http://127.0.0.1:5000/transactions', {link_id: this.linkId})
          .then((response) => {
            this.transactions = response.data;
          })
    },
    retrieveBalances() {
      axios.post('http://127.0.0.1:5000/balances', {link_id: this.linkId})
          .then((response) => {
            this.balances = response.data;
          })
    },
    retrieveOwners() {
      axios.post('http://127.0.0.1:5000/owners', {link_id: this.linkId})
          .then((response) => {
            this.owners = response.data;
          })
    },
    retrieveIncomes() {
      axios.post('http://127.0.0.1:5000/incomes', {link_id: this.linkId})
          .then((response) => {
            this.incomes = response.data;
          })
    },
    formatDate(date) {
      return moment(date).format('DD-MM-YYYY')
    }
  }
}
</script>
<style lang="scss" scoped>

.btn-primary{
    margin-bottom: 20px;
}
.text-regular-14{
  margin-bottom: 15px;
}

  .title {
    position: relative;
    z-index: 2;
    width: 90px;
    text-transform: uppercase;
    font-size: .90rem;
    font-weight: 600;
    line-height: 24px;
    font-family: Noto Sans TC;
    margin: 0;
  }
  .data {
    margin: 0;
    font-family: Noto Sans TC;
  }
  .widget-list {
    &__header {
      border-bottom: 1px solid #f0f2f4;

      &-table {
        color: grey;
        &-event {
          padding-right: 95px;
        }

        &-callback {
          padding-right: 361px;
        }

        &-status {

        }
      }
    }
  }
  .list-item {
    border-bottom: .0625rem solid #f0f2f4;
    .list-item-action {
      display:  flex;
      justify-content: flex-end;
    }
  }
  .request-type {
    padding: 5px 15px;
    background: #ebebeb;
    color: #ffffff;

    &.post {
      background: rgb(36, 143, 178);
    }
  }
  .request-content {
    min-width: 550px;
  }
  .request-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 200px;
  }
  .response-header {
    color: #c4cdd4;
  }
</style>
