<template>

<div>
    <div v-bind:key="user.id" v-for="(user,index) in users">
        <div v-if="selectedUser == index">
            <div class="card-body" style="width:100%">
                <h5 class="card-title">{{user.name}}</h5>
                <ul class="list-group">
                    <li class="list-group-item" style="display: inline-flex; justify-content: space-between; align-items: center; padding-bottom: 0;">
                        <p>User ID</p>
                        <p>{{user.id}}</p>
                    </li>
                    <li class="list-group-item" style="display: inline-flex; justify-content: space-between; align-items: center; padding-bottom: 0;">
                        <p>Employer</p>
                        <p>{{user.company.name}}</p>
                    </li>
                    <li class="list-group-item" style="display: inline-flex; justify-content: space-between; align-items: center; padding-bottom: 0;">
                        <p>Monthly Income</p>
                        <p>$1234.99</p>
                    </li>
                    <li class="list-group-item" style="display: inline-flex; justify-content: space-between; align-items: center; padding-bottom: 0;">
                        <p>Previous Withdrawal</p>
                        <p>07.28.21</p>
                        </li>
                    <li class="list-group-item" style="display: inline-flex; justify-content: space-between; align-items: center; padding-bottom: 0;">
                        <p>Remaining Monto Credits</p>
                        <p>$350.00</p>
                    </li>
                </ul>
            </div>    
        </div>
    </div> 
</div>

</template>

<script>

export default {
    name: 'User',
    props: {
        users: Array,
        selectedUser: String,

    },
}

</script>

<style scoped>

</style>