<template>
  <div class="container">
      
    <h3>Monto Users</h3>
    <b-modal ref="details-modal" hide-footer title="In-Depth Information">
      <div class="d-block text-center w-auto">
        <User :users="users" :selectedUser="selectedUser"/>
      </div>
      <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Export as CSV</b-button>
    </b-modal>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Company</th>
          <th scope="col">Monthly Income</th>
          <th scope="col">Linked</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user,index) in users" v-bind:key="user.id"> 
          <th scope="row">{{user.id}}</th>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.company.name}}</td>
          <td>$1234.99</td>
          <td>
            <i id="show-btn" @click="getDetails(user.id); selectUser(user, index);" class="fas fa-check"></i>
          </td>  
        </tr>
      </tbody>
    </table> 
  </div> 
</template>


<script>
  import axios from 'axios';
  import User from './User';
  
  export default {
    name: 'Users',
    components: {
        User
    },
    data() {
        return {
            users: [],
            user: '',
            selectedUser: null,
        };
    },
    created() {
        axios
            .get('https://jsonplaceholder.typicode.com/users')
            .then(res => {
                this.users = res.data;
            })
    },
    methods: {
        getDetails(id){
            console.log(id);
            this.$refs['details-modal'].show()
        },
      hideModal() {
        this.$refs['details-modal'].hide()
      },
      selectUser(user, index) {
        this.selectedUser = index;
        this.user = user.id;
      },
      retrieveAccounts() {
      axios.post('http://127.0.0.1:5000/accounts', {link_id: this.linkId})
          .then((response) => {
            this.accounts = response.data;
          })
    },
    retrieveTransactions() {
      axios.post('http://127.0.0.1:5000/transactions', {link_id: this.linkId})
          .then((response) => {
            this.transactions = response.data;
          })
    },
    retrieveBalances() {
      axios.post('http://127.0.0.1:5000/balances', {link_id: this.linkId})
          .then((response) => {
            this.balances = response.data;
          })
    },
    retrieveOwners() {
      axios.post('http://127.0.0.1:5000/owners', {link_id: this.linkId})
          .then((response) => {
            this.owners = response.data;
          })
    },
    retrieveIncomes() {
      axios.post('http://127.0.0.1:5000/incomes', {link_id: this.linkId})
          .then((response) => {
            this.incomes = response.data;
          })
    },
    formatDate(date) {
      return moment(date).format('DD-MM-YYYY')
    } 
    }
  }

</script>
<style>
.fas {
    color: green;
}
  h3 {
    margin-bottom: 5%;
  }

</style>